<nav class="navbar bg-dark navbar-dark navbar-collapse-sm">
    <div class="container">
        <a href="#" class="navbar-brand">Angular Routing</a>
      
            <ul class="nav">
               <li class="nav-item"><a class="nav-link text-white" routerLink="/">Home</a></li>
               <li class="nav-item"><a class="nav-link text-white" routerLink="/employee">Employee</a></li>
               <li class="nav-item"><a class="nav-link text-white" routerLink="/stock">Stock</a></li>
               
            </ul>
        <!-- </div> -->
    </div>
</nav>