h2 {
    text-align: center;
}
 li {
   
    padding: 10px;
    color: white;
}
.one {
    background-color: blueviolet;
}
.two {
    background-color: chocolate;
}
.three {
    background-color: darkblue;
}
nav {
    background-color: rgb(43, 22, 22);
}
