<!-- <nav class="navbar navbar-dark  navbar-expand-sm">
    <div class="container p-1">
        <a href="#" class="navbar-brand">Component Interaction</a>
    </div>
</nav> -->

<!-- <div [ngSwitch] = "person">
    <h2 *ngSwitchCase ="'sagar'">Hello sagar</h2>
    <h2 *ngSwitchCase ="'ram'">Hello Ram</h2>
    <h2 *ngSwitchDefault>No data</h2>
    
</div> -->

<!-- <div>
    <input type="text" #val (keyup) = "0" />
    <div [ngSwitch] = "val.value">
        <h2 *ngSwitchCase ="'sagar'">Hello sagar</h2>
        <h2 *ngSwitchCase ="'ram'">Hello Ram</h2>
        <h2 *ngSwitchDefault>No data</h2>
        
    </div>
</div> -->

 <!-- <div>
     <h2 [ngStyle]="{'background-color':country==='india' ?'red' :'green','color':'white'}">hello ts</h2>
 </div> -->
    <!-- <h2>ngStyle Directive</h2>
 <ul *ngFor = "let p of person ">
     <li [ngStyle]="{'background-color':getColor(p.country),'color':'white'}">
         Name:{{p.name}} ||Country:{{p.country}}
     </li>
 </ul> -->

 <!-- <h2>ngClass Directive</h2>
 <ul *ngFor = "let p of person ">
    <li [ngClass]="{'one':p.country==='India','two':p.country === 'UK','three':p.country==='USA'}">
        Name:{{p.name}} ||Country:{{p.country}}
    </li>
</ul> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-class></app-class> -->
<!-- <app-filter-data></app-filter-data> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent-comp></app-parent-comp> -->
<!-- <app-main></app-main> -->
<!-- <app-pcomp></app-pcomp> -->
<app-header></app-header>
<router-outlet></router-outlet>