<div>
    <!-- <table border="2">
        <tr>
            <th [attr.colspan]="col"  >Studdent details</th>
        </tr>
        <tr>
            <td>Sagar</td>
            <td>Delhi</td>
            <td>Sagar</td>
            <td>Delhi</td>
            <td>Sagar</td>
            <td>Delhi</td>
        </tr>
        <tr>
            <td>Sagar</td>
            <td>Delhi</td>
        </tr>
    </table> -->

     <!-- Name: <input type="text" id="i" value="Sagar" /> -->

     <button [style.font-weight]="isBold? 'bold':'normal'">Button 1</button>
     <button [style.fontWeight]="isBold? 'bold':'normal'">Button 1</button>
     <button [style.fontSize]="fontSize">Button 1</button>

     <button [class]="applyclass">Button 1</button>
</div>
