<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-danger">Parent Compppppppppppppp</h2>
            
          
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo quo vero molestiae beatae quasi dolor, blanditiis repudiandae odit dolorum error neque saepe maxime impedit enim iure minus aliquam culpa expedita, commodi numquam non, id alias eaque. Quia quibusdam in tempora?</p>
            <button class="btn btn-dark" (click)="sendData()">Get Data</button>
       
        </div>
    </div>
    <div class="row">
        <div class="col">
      
<app-ccc></app-ccc>
        </div>
    </div>
</div>
