<div class="container mt-3">
 <div class="row">
     <div class="col">
         <p class="h3 text-danger">Lorem ipsum dolor sit amet.</p>
         <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad voluptatem maxime, pariatur dolorum architecto tenetur voluptatum, dolores quisquam molestias facilis nisi quod nobis deleniti repellat porro est quidem rerum doloremque! Laudantium, architecto. Cum sed tempore recusandae minima! Molestias, architecto quidem autem magni esse fuga accusantium labore deleniti nisi ipsum! Nesciunt.</p>
         <button class="btn btn-primary px-5">Lear More</button>
        </div>
     
 </div>
</div>
